@import '../../../styles/global.scss';

.root {
  &_technologies {
    padding: 25px;
    text-align: center;

    h3 {
      border-bottom: 2px solid $color-light;
      margin: 0 auto;
      width: 100px;

    }

    &_icons {
      display: flex;
      justify-content: center;
      padding-top: 25px;
      img {
        width: 70px;
        margin: 5px;
      }
    }
  }
}

@media only screen and (max-width: 784px) {
  .root {
    &_technologies {
      &_icons {
        flex-wrap: wrap;
        img {
          width: 55px;
        }
      }
    }
  }
}