/* COLOR SETTINGS */
$color-dark: #1e272e;
$color-lightDark: #485460;
$color-light: #808e9b;
$color-lightest: #d2dae2;

$color-redOrange: #ff3f34;
$color-sunsetOrange: #ff5e57;

$color-lightBlue: #575fcf;
$color-darkBlue: #3c40c6;

$color-green: #05c46b;

/* FONT SETTINGS */
$font-main: 'Arsenal', sans-serif;
$font-header: 'Chakra Petch', sans-serif;
